@*  This component is responsible for reading user input
    and set the number of rounds that he want to play. *@

@page "/setup"

<div class="col-6">
    <p>
        Input your name in the name field,
        choose how many rounds you would like to play
        and when you are ready click on play button.
    </p>
</div>
<div class="col-6">
    <form action="/game" method="post">
    </form>
</div>

@code {
    
}
