@model WebApps.Models.App04.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SocialNetworkLayout.cshtml";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea cols="40" rows="3" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" accept="image/*" id="upload-image-btn" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div id="preview-image">

        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script>
        // When image is selected to be uploaded
        $("#upload-image-btn").on("change", function () {
            if ($("#preview-image").length) {
                $("img").remove();
            }
            // Add new img tag to div tag with id preview-image
            $("#preview-image").append("<img />");

            // create new file reader
            var reader = new FileReader();

            // While loading add attributes on img tag
            reader.onload = function (e) {
                $("#preview-image img").attr("src", e.target.result);
                $("#preview-image img").attr("style", "width: 100%");
                $("#preview-image img").addClass("rounded");
            }

            // Get the selected image and pass it to readAsDataURL
            reader.readAsDataURL($(this)[0].files[0]);
        });


    </script>
}
