@using Microsoft.AspNetCore.Identity
@using WebApps.Models.App04

@inject SignInManager<User> SignInManager

@model ICollection<Post>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SocialNetworkLayout.cshtml";
}

<link rel="stylesheet" href="~/css/profile-styles.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

@if (!SignInManager.IsSignedIn(User))
{
    <div class="jumbotron">
        <h1 class="display-4">Social Network</h1>
        <p class="lead">This application is the first version of a system that will allow users to post messages and photos that other users can view and like. (Any similarities to Facebook is purely coincidental!).</p>
        <hr class="my-4">

        <p class="lead">
            Any user of this social network should has account for use all features.
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login</a>
        </p>
    </div>
}
else
{
    @if (Model.Count > 0)
    {


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="content" class="content content-full-width">
                        <div class="profile-content">
                            <!-- begin tab-content -->
                            <div class="tab-content p-0">
                                <!-- begin #profile-post tab -->
                                <div class="tab-pane fade active show" id="profile-post">
                                    <ul class="timeline">
                                        @foreach (var post in Model.OrderByDescending(c => c.CreatedOn))
                                        {
                                            <li>
                                                <!-- begin timeline-time -->
                                                <div class="timeline-time">
                                                    <span class="date">@post.CreatedOn.Date.ToString("dd/MM/yyyy")</span>
                                                    <span class="time">@post.CreatedOn.ToString("HH:mm")</span>
                                                </div>
                                                <!-- end timeline-time -->
                                                <!-- begin timeline-icon -->
                                                <div class="timeline-icon">
                                                    <a href="javascript:;">&nbsp;</a>
                                                </div>
                                                <!-- end timeline-icon -->
                                                <!-- begin timeline-body -->
                                                <div class="timeline-body">
                                                    <div class="timeline-header">
                                                        <span class="username"><a href="javascript:;">@post.Author.FullName</a> <small></small></span>
                                                    </div>
                                                    <div class="timeline-content">
                                                        <p>@post.Content</p>
                                                        @if (post.PhotoName is not null)
                                                        {
                                                            <img src="~/img/@post.PhotoName"/>
                                                        }
                                                    </div>
                                                    <div class="timeline-footer">
                                                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                                        <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>There is no any posts yet... Why not <a asp-controller="Posts" asp-action="Create">add one</a></p>
    }
}
