@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SocialNetworkLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Social Network</h1>
    <p class="lead">This application is the first version of a system that will allow users to post messages and photos that other users can view and like. (Any similarities to Facebook is purely coincidental!).</p>
    <hr class="my-4">
    <p class="lead">

    </p>
</div>