@page "/playerchoice"

@using Services
@inject GameService _gameService
@inject NavigationManager _navManager

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <h4>
                    @this._gameService.Name, one game includes @this._gameService.Rounds rounds,<br />
                    choose ROCK, PAPER or SCISSORS
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img @onclick='() => SetPlayerChoice(Choices.Rock)' width="100%"
                 height="80%" src="img/rock_human.png" alt="Rock" />
        </div>
        <div class="col-4">
            <img @onclick='() => SetPlayerChoice(Choices.Papper)' width="100%"
                 height="80%" src="img/paper_human.png" alt="Paper" />
        </div>
        <div class="col-4">
            <img @onclick='() => SetPlayerChoice(Choices.Scissors)' width="100%"
                 height="80%" src="img/scissors_human.png" alt="Scissors" />
        </div>
    </div>
</div>

@code {
    private void SetPlayerChoice(Choices choice)
    {
        this._gameService.PlayerChoice = choice;
        this._navManager.NavigateTo("/result");
    }
}
